{% extends 'main/base.html' %}

{% block title %}
    Exhibitions
{% endblock %}

{% block content %}
    <div class="container exhibition-page" id="app">
        <div class="row">
            <div class="col">
                <h5 class="animation-page-header exhibition-header">Exhibitions</h5>
            </div>
        </div>
        {% for project in project_list %}
            <div class="row">
                <div class="col">
                    <div class="exhibition-post">
                        <h5 class="exhibition-post-title">{{ project.title }}</h5>
                        <div class="exhibition-text">
                            {{ project.description }}
                        </div>
                        <div class="exhibition-images">
                            <div class="masonry" style="margin-left: 0px;">
                                {% for image in project.image_set.all %}
                                    <img class="masonry-brick" src="{{ image.picture.url }}">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="exhibition-video-container">
                            {% if project.video %}
                                <video class="exhibition-video" controls>
                                    <source src="{{ project.video.url }}" type="video/mp4">
                                </video>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block document_ready_script %}
    <script>
        exhibitionPage();
    </script>
{% endblock %}