{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Exhibitions
{% endblock %}

{% block custom_style %}
    <style>
    </style>
{% endblock %}

{% block content %}
    {#    <div class="container mt-5" style="width: 100%; max-width: none;">#}
    {#        <div class="row" style="background: white;">#}
    {#            <div class="col col-flex mt-3">#}
    {#                <h2 style="text-transform: uppercase"><b>{{ object.title }}</b></h2>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="row" style="margin-top: 60px; background: #f9f9f9;">#}
    {#            <div class="col-4 mt-4" style="margin-left: 70px;">#}
    {#                <p style="font-size:20px;">{{ object.description }}</p>#}
    {#            </div>#}
    {#            <div class="col-7 mt-4">#}
    {#                    <video width="750" height="430" controls>#}
    {#                        <source src="{{ object.video.url }}" type="video/mp4">#}
    {#                    </video>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="row pt-5 col-flex" style="background: #ededed;">#}
    {#            <h3>A few behind the scenes stills...</h3>#}
    {#        </div>#}
    {#        <div class="row pt-5" style="background: #ededed;">#}
    {#            <div class="col" style="display: flex; justify-content: center;">#}
    {#                <div class="image-wrapper" style="display:inline-block;">#}
    {#                    {% for image in object.image_set.all %}#}
    {#                        <img width="286" height="196" src="{{ image.picture.url }}">#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="container-fluid">
        <div class="row col-flex pt-5 pb-5">
            <h2><b>{{ object.title }}</b></h2>
        </div>
        <div class="row pt-5 pb-5" style="background: #f9f9f9">
            <div class="col generic-page-col">
                <div class="row">
                    <div class="col-5">
                        <p class="generic-page-description">{{ object.description }}</p>
                    </div>
                    <div class="col-7" style="margin-top: -10px;">
                        <video style="object-fit: cover" poster="{{ object.thumbnail.url }}" width="750" height="430"
                               controls>
                            <source src="{{ object.video.url }}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-flex pt-5 pb-4" style="background:#ededed;">
            <h2><b>A few behind the scene stills...</b></h2>
        </div>
        <div class="row pb-5" style="background:#ededed;">
            <div class="col generic-page-col">
                {% for image in object.image_set.all %}
                    {% if forloop.first %}
                        <div class="row mt-4" style="justify-content: flex-start;">{% endif %}
                {#                <div class="col">#}
                <img class="{% if not forloop.counter|divisibleby:5 %}mr-1{% endif %}" width="220" height="196"
                     src="{{ image.picture.url }}">
                {#                </div>#}
                {% if forloop.counter|divisibleby:5 %}</div>
                    <div class="row mt-1">{% endif %}
                {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block document_ready_script %}
    <script>
        individualExhibitionPage();
    </script>
{% endblock %}