<div id="nav-app">
    <div class="mini-nav">
        <a href="#"><i class="far fa-envelope"></i>
            <span id="nav-email">TomMargett@Gmail.com</span></a>
    </div>
    <nav id="main-nav">
        <a class="{% if request.resolver_match.url_name == "home" %}active-nav{% endif %} nav-item" href="{% url 'home' %}">HOME</a>
        <a class="{% if request.resolver_match.url_name == "work-collection" %}active-nav{% endif %} nav-item" href="{% url 'work-collection' %}">ANIMATIONS</a>
        <a class="nav-item" href="#">EXHIBITIONS</a>
        <a class="nav-item" href="#">SKETCHBOOKS & GIFS</a>
        <a class="nav-item" href="#">TEACHING</a>
        <a class="nav-item" href="#">CONTACT</a>
    </nav>
</div>

<script>
    navBar();
</script>

