<div id="nav-app">
    <div class="mini-nav">
        <a href="#"><i class="far fa-envelope"></i>
            <span id="nav-email">TomMargett@Gmail.com</span></a>
        <div style="float: right;" class="mr-3">
            <a href="#"><i class="nav-social-icon fab fa-twitter"></i></a>
            <a href="#"><i class="nav-social-icon fab fa-facebook"></i></a>
            <a href="#"><i class="nav-social-icon fab fa-instagram"></i></a>
            <a href="#"><i class="nav-social-icon fab fa-linkedin"></i></a>
        </div>
    </div>
    <nav id="main-nav">
        <a class="{% if request.resolver_match.url_name == "home" %}active-nav{% endif %} nav-item main-nav-item"
           href="{% url 'home' %}">HOME</a>
        <a class="main-nav-item {% if request.resolver_match.url_name == "work-collection" or request.resolver_match.url_name == "single-animation-page" %}active-nav{% endif %} nav-item"
           href="{% url 'work-collection' %}">ANIMATIONS</a>
        <a class="main-nav-item {% if request.resolver_match.url_name == "exhibitions" or request.resolver_match.url_name == "single-exhibition-page" %}active-nav{% endif %} nav-item"
           href="{% url 'exhibitions' %}">EXHIBITIONS</a>
        <a class="main-nav-item nav-item {% if request.resolver_match.url_name == "sketchbook" %}active-nav{% endif %}"
           href="{% url 'sketchbook' %}">SKETCHBOOK</a>
        <a class="main-nav-item nav-item {% if request.resolver_match.url_name == "teachings" %}active-nav{% endif %}" href="{% url 'teachings' %}">TEACHING</a>
        <a class="main-nav-item nav-item {% if request.resolver_match.url_name == "contact" %}active-nav{% endif %}" href="{% url 'contact' %}">CONTACT</a>
        <i @click="showMobileMenu" class="mobile-nav-icon nav-item fas fa-bars"></i>
    </nav>
    <div class="mobile-nav">
        <div class="container-fluid">
            <div class="row mobile-menu-row">
                <a class="{% if request.resolver_match.url_name == "home" %}active-nav{% endif %} nav-item mobile-nav-item"
                   href="{% url 'home' %}">HOME</a>
            </div>
            <div class="row mobile-menu-row">
                <a class="mobile-nav-item {% if request.resolver_match.url_name == "work-collection" or request.resolver_match.url_name == "single-animation-page" %}active-nav{% endif %} nav-item"
                   href="{% url 'work-collection' %}">ANIMATIONS</a>
            </div>
            <div class="row mobile-menu-row">
                <a class="mobile-nav-item {% if request.resolver_match.url_name == "exhibitions" or request.resolver_match.url_name == "single-exhibition-page" %}active-nav{% endif %} nav-item"
                   href="{% url 'exhibitions' %}">EXHIBITIONS</a>
            </div>
            <div class="row mobile-menu-row">
                <a class="mobile-nav-item nav-item {% if request.resolver_match.url_name == "sketchbook" %}active-nav{% endif %}"
                   href="{% url 'sketchbook' %}">SKETCHBOOK</a>
            </div>
            <div class="row mobile-menu-row">
                <a class="mobile-nav-item nav-item {% if request.resolver_match.url_name == "teachings" %}active-nav{% endif %}" href="{% url 'teachings' %}">TEACHING</a>
            </div>
            <div class="row mobile-menu-row">
                <a class="mobile-nav-item nav-item {% if request.resolver_match.url_name == "contact" %}active-nav{% endif %}" href="{% url 'contact' %}">CONTACT</a>
            </div>

        </div>
    </div>
</div>

<script>
    navBar();
</script>

