{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Animations
{% endblock %}

{% block content %}


    <div id="app">
        <h5 class="animation-page-header mt-5" style="">Animations</h5>
        <div class="video-player-package video-player-background">
            <i @click="closeButton" class="video-player-package close-button fas fa-times"></i>
            <video height="360" width="640" class="video-player-package video-player" controls>
                <source src="{% static 'main/videos/testvideo.mp4' %}" type="video/mp4">
            </video>
        </div>

        <div class="mt-3">
            <div class="work-collection">
                {% for project in project_list %}
                    <animation-project class="project" project_title="{{ project.title }}"
                                       image_path="{{ project.thumbnail.url }}"
                                       images_page_url="{% url 'single-animation-page' pk=project.pk %}"
                                       description="{{ project.description}}"
                                       video_path="{{ project.video.url }}"></animation-project>
                {% endfor %}

            </div>


        </div>
    </div>

{% endblock %}

{% block document_ready_script %}
    <script>
        workPage();
    </script>
{% endblock %}