a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.mini-nav {
    padding-left: 2%;
    font-size: 13px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #131416;
    color: orange;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    height: 3.1rem;
}

#main-nav {
    background: #000000;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*padding-bottom: 1.5%;*/
    width: 100%;
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.5s;
    top: 3.1rem;
    height: 5.5rem;
}

.nav-item {
    width: auto;
    /*display: none;*/
    vertical-align: top;
    font-size: 18px;
    text-align: center;
    padding: 15px 10px;
    transition: 0.3s;
}

.main-nav-item {
    display: inline-block;
}

.mobile-nav-item {
    width: 100%;
    color: white;
}

.mobile-nav-icon {
    display: none;
}

.mobile-nav {
    position: fixed;
    top: 8.61rem;
    width: 100%;
    height: 0;
    transition: 0.3s;
    overflow: hidden;
    /*height: 100%;*/
    background: black;
    z-index: 9999999999999;
}

.mobile-menu-row {
    /*margin-left: 3%;*/
}

.nav-item:hover, .mobile-menu-icon:hover {
    background: #353535;
    color: white;
}

.active-nav {
    background: #353535;
}

#nav-email {
    padding-left: 10px;
    transition: 0.3s;
}

#nav-email:hover {
    color: white;
}

#home-video-container {
    position: relative;
    color: green;
    z-index: 99999999;
    /*top: calc(1rem + 1rem + 3.1rem + 2rem + 5.5rem);*/
    top: 100rem;
}

#home-video {
    object-fit: fill;
    display: block;
    width: 100%;
    /*height: 84vh;*/
    /*height: 526px;*/
}

#home-video-container:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#home-video-text-first:before {
    content: 'STOP MOTION TOM';
    display: block;
    font-size: 70px;
    color: lightgrey;
    position: absolute;
    text-align: center;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
}

#home-video-text-second:before {
    content: 'Stop motion Animator and Illustrator';
    display: block;
    font-size: 30px;
    color: lightgrey;
    position: absolute;
    white-space: pre;
    text-align: center;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 523px) {
    #home-video-text-first:before {
        font-size: 50px;
    }

    #home-video-text-second:before {
        font-size: 20px;
    }
}

.project-title {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: left;
}

.project-title-font {
    font-size: 28px;
}

.card-image {
    transition: transform .2s; /* Animation */
}

.card-image:hover {
    transform: scale(1.1);
}

.project-image {
    overflow: hidden;
    position: relative;
}

.project-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*width: 28rem;*/
    min-width: 21.5rem;
    height: 380px;
    vertical-align: top;
    /*min-height: 430px;*/
    /*max-height: 430px;*/
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    /*height: 430px;*/
    /*float: none;*/
    /*margin: 0 auto;*/
    /*height: 390px;*/
    /*margin: 20px;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: left !important;
    transition: 0.3s;
}

.project-card:hover {
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);*/
}

.card-link {
    padding: 0;
    margin: 0 0 0 0px;
    transition: 0.3s;
}

.card-link:hover {
    color: orange;
}

.fa-folder-open {
    color: orange;
}

.description-class {
    min-height: 50px;
    max-height: 50px;
    /*margin-bottom: 10px;*/
}

.description-class-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-player {
    position: fixed;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    top: 15%;
    left: 0;
    right: 0;
}

.close-button {
    position: fixed;
    top: 12%;
    right: 12%;
    color: white;
    font-size: 3rem;
    z-index: 999999999999999999999999999999;
}

.close-button:hover {
    cursor: pointer;
}

.cursor-class {
    cursor: pointer
}

.video-player-package {
    display: none;
}

.project {
    /*display: inline-block;*/
    /*justify-content: space-around;*/
}

.animation-page-image {
    width: 100%;
    height: 400px;
}

.container-for-image {
    position: relative;
    text-align: center;
}

.center-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    color: white;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAD0lEQVQImWNgQAX/yeAAAIHCA/0RE2WAAAAAAElFTkSuQmCC') repeat, rgba(0, 0, 0, 0.01);
    transform: translate(-50%, -50%);
    width: 100%;
    padding-top: 250px;
    height: 100%;
}

.center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%, -50%);
    /*width: 100%;*/
    margin-top: 170px;
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    height: 100%;
    max-height: 30px;
    cursor: pointer;
}

.center-image-text-small {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    color: #eeeded;
    transform: translate(-50%, -50%);
    /*width: 100%;*/
    /*padding-top: 110px;*/
    /*padding-left: 10px;*/
    /*height: 100%;*/
    /*-moz-transition: font-size .3s;*/
    /*-ms-transition: font-size .3s;*/
    /*-o-transition: font-size .3s;*/
    /*-webkit-transition: font-size .3s;*/
    /*transition: font-size .3s;*/

}

.striped-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100%;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAD0lEQVQImWNgQAX/yeAAAIHCA/0RE2WAAAAAAElFTkSuQmCC') repeat, rgba(0, 0, 0, 0.01);
}

.center-image-text-small:hover {
    color: white;
    /*font-size: 51px;*/
}

.animation-page-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.masonry-brick {
    flex: auto;
    height: 250px;
    min-width: 98px;
    max-width: 98px;
    /*margin: 0 8px 8px 0; !* Some gutter *!*/
}

.masonry-brick:nth-child(4n+1) {
    width: 250px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+2) {
    width: 325px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+3) {
    width: 180px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+4) {
    width: 380px;
}

.more-button {
    border-style: none;
    background: none;
    font-size: 16px;
    color: blue;
    margin-top: 20px;
    padding: 0;
}

#grow input:checked {
    color: red;
}

#more-button:hover {
    color: black;
}

.measuring-wrapper {
    overflow: hidden;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 60px;
    margin-bottom: 10px;
}

.work-collection {
    justify-content: center;
    text-align: left;
}

.video-player-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
}

/* mixin for multiline */
.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

html, body {
    /*height: 100%;*/
    /*background: #e9e9e9;*/
    /*background: black;*/
    /*background: #ffffff;*/

}

.body-text-class {
    text-align: left;
}

.col-flex {
    display: flex;
    justify-content: center;
}

.exhibition-card {
    /*box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 21.5rem;
    vertical-align: top;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 380px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: left !important;
    transition: 0.3s;
    border-width: 2px;

}

.exhibition-title {
    font-size: 28px !important;
}

.exhibition-footer {
    padding: 20px;
}

.color-orange {
    color: orange;
}

.exhibition-image {
    /*width: 100%;*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 730px;
    height: 26rem;
}

.exhibition-description {
    padding-left: 20px;
    padding-right: 20px;
}

.parallax {
    /* The image used */
    /* Set a specific height */
    min-height: 300px;
    background-color: white;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 900px 700px;
}

.exhibition-post-container {
}

.side-line:after,
.side-line:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}

.side-line-new:after,
.side-line-new:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}

.about-me-image {
    width: 100%;
    margin-top: 15px;
}

.line-side {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line-side:before,
.line-side:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.line-side:after {
    margin: 0 0 0 20px;
}

.line-side {
    /*font: 700 2em/1.4 'Avenir', sans-serif;*/
    /*color: #FFF;*/
}

.social-icon {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    font-size: 13px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    background: orange;
}

.social-icon:hover {
    background: white;
    color: black;
}

.nav-social-icon {
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
    color: orange;
}

.nav-social-icon:hover {
    color: white;
}

.generic-page-col {
    padding-left: 10%;
    padding-right: 10%;
    /*padding-right: 150px;*/
}

.generic-page-description {
    font-size: 20px;
}

.footer {
    background: black;
    height: 96px;
    position: relative;
}

.footer-text {
    position: absolute;
    /*margin-left: 143px;*/
    font-size: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
}

.standard-position {
    margin-top: 170px;
}

.image-viewer-package {
    display: none;
}

.image-viewer-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
}

.image-viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 65vw;
    height: 60vh;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.left-arrow {
    position: fixed;
    top: 50%;
    left: 5%;
    /*font-size: 140px;*/
    font-size: calc(6vw + 6vh + .1vmin);
    /* bring your own prefixes */
    transform: translate(0, -50%);
    /*opacity: 0.5;*/
    z-index: 999999999999999999999999999999;
}

.circle-background {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #232323;
    padding: 1% 2.5%;
    opacity: 0.8;
    color: white;
}

.right-arrow {
    position: fixed;
    top: 50%;
    right: 5%;
    /*font-size: 140px;*/
    font-size: calc(6vw + 6vh + .5vmin);
    /* bring your own prefixes */
    transform: translate(0, -50%);
    /*opacity: 0.5;*/
    z-index: 999999999999999999999999999999;
}

.right-arrow:hover, .left-arrow:hover {
    /*opacity: 0.7;*/
    cursor: pointer;
}

.generic-page-header {
    /*padding: 20px;*/
    /*background: black;*/
    /*color: white;*/
}

.square-fullstop {
    font-size: 17px;
    color: orange;
    margin-left: 4px;
}

.generic-row-content {
    /*background: #f9f9f9;*/
    background: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    position: relative;
}

.arrow-down {
    width: 40px;
    height: 40px;
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid white;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background: transparent;
}

.generic-row {
    position: relative;
    /*border-bottom: 1px solid red;*/
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.black-background-image {
    /*background: black;*/
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*!* bring your own prefixes *!*/
    /*transform: translate(-50%, -50%);*/
    /*height: 83vh;*/
    /*width: 83vw;*/
    /*z-index: -100;*/
    /*!*border: 3px solid red;*!*/

}

.current-image-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 9%;
    color: white;
    font-size: 3rem;
}

.no-scroll-body {
    overflow: hidden;
    /*height: 100%;*/
    position: fixed;
}

.no-scroll-html {
    /*height: 100%;*/
}

.generic-content-video {
    object-fit: cover;
    max-height: 430px;
    width: 100%;
}

.base-margin {
    margin-top: 8.6rem;
}

.generic-image-columns, .col-padding {
    padding: 10px;
}

.image-class {
    width: 100%;
    max-height: 18rem;
    /*min-height: 18rem;*/

}

@media only screen and (max-width: 872px) {
    .left-arrow, .right-arrow {
        font-size: calc(4.5vw + 4.5vh + .1vmin);
    }
}

@media only screen and (max-width: 590px) {
    .image-viewer {
        width: 60vw;
        height: 30vh;
    }

    .black-background-image {
        height: 53vh;
        width: 83vw;

    }

    .close-button {
        position: fixed;
        top: 25%;
        right: 12%;
        font-size: 1.5rem;
    }

    .current-image-container {
        top: 29%;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 425px) {
    .generic-images-title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 548px) {
    .main-nav-item {
        display: none;
    }

    .mobile-nav-icon {
        display: inline-block;
    }
}

.col-flex-start {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.col-flex-end {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.exhibition-page-col {
    display: flex;
    justify-content: center;
    padding: 3.5rem;
}

.card-img-top {
    width: 100%;
    height: 230px;
}

@media only screen and (max-width: 375px) {
    .exhibition-card {
        width: 18rem;
        height: 430px;
    }

    .project-card {
        min-width: 18rem;
        height: 430px;
    }

    .card-img-top {
        height: 250px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .project-card {
        min-width: 21rem;
    }

}

@media only screen and (min-width: 768px) {
    .exhibition-page-col {
        padding: 0.8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .exhibition-card {
        width: 18rem;
        height: 400px;
    }

    .exhibition-page-col {
        padding: 2.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .image-class {
        max-height: 16rem;
    }

    .exhibition-page-col {
        padding: 2.5rem;
    }

    .col-flex-end {
        justify-content: flex-end;
    }

    .col-flex-start {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1200px) {
    .exhibition-page-col {
        padding: 4rem;
    }

    .exhibition-card, .project-card {
        width: 27rem;
        height: 450px;
    }

    .card-img-top {
        height: 290px;
    }
}

.contact-image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
